E2E_RUN_AGAINST_PROD=false
E2E_API_URL=https://api.prigent.tech
E2E_LIVRY_URL=https://artisans-livry.prigent.tech
E2E_COMBS_URL=https://artisans-combs.prigent.tech
E2E_VSD_URL=https://artisans-vert-saint-denis.prigent.tech
E2E_APP_URL=https://app.prigent.tech
E2E_ADMIN_USER=admin
E2E_ADMIN_PASS=change_me
E2E_TEST_PASSWORD=ChangeMe123!
E2E_JWT_SECRET=change_me_in_production
E2E_API_E2E_TOKEN=change_me
